<html>
    
    {% block head %}
<head>
    <style> 
        
        
        
    
       
        
     * {
        box-sizing: border-box;
        margin: 0 auto; 
    }
        
  div.container {
        width: 80%;
        border: 3px solid black;
        background-color: aqua;
      
    }

    </style>
    {% block stylesheets %}
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{{asset('css/styleCopy.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('css/estilo.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{asset('css/estilologin.css')}}" />
     <link rel="stylesheet" type="text/css" href="{{asset('css/estiloadmin.css')}}" />
    
    {% endblock %}
{% endblock %}
</head>
  {% block body %}
<body>
    
	    
    
  <div id="main">
    

	<div id="menubaradmin">
        
        
        
	  <div id="welcome">
         
	     <a href="{{path('prueba_homepage')}}"><img src="{{asset('images/logo.png')}}" height="80px" width="80px"   accesskey=""     >   
          </a>
     
            
               
          
          
	  </div> <!-- termina welcome-->
        
      <div id="menu_items2">
	   <h2 font aling="center">ADMINISTRADOR</h2>
      </div> <!-- termina menu_tems -->
  
     
      
    </div>
    	<div id="menubar2">
            
            <div id="menubaradmintabla">
        
               <a class="enlace"href="{{path('admin_usuarios_index')}}"><h5>Tabla Usuario</h5></a> 
            
             <a class="enlace"href="{{path('admin_productos_index')}}"><h5>Tabla Producto</h5></a> 
                 
                  <a class="enlace"href="{{path('admin_ficha_index')}}"><h5>Tabla Ficha Tecnica</h5></a> 
   <a class="enlace"href="{{path('admin_localizacion_index')}}"><h5>Tabla Localizacion</h5></a> 
        
      
   </div>
      
     
     
</div> <!-- fin opcion-->
 
  
 
            
          
    
    
    
       
    

  
    
    
    </body>
</html>
          {% endblock %}