{% block head %}
<head>
        <style> 
     
 
     
        
     * {
        box-sizing: border-box;
        margin: 0 auto; 
    }
        
  div.container {
        width: 80%;
        border: 3px solid black;
        background-color: aqua;
    }

    
    </style>
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{asset('css/styleCopy.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('css/estilo.css')}}" />
{% endblock %}
{% endblock %}
    </head>
{% block body %}
<body>
        
           <div id="main">
    

	<div id="menubar">
        
        
        
	  <div id="welcome">
          
          
         
	     <img src="{{ asset('images/logo.png')}}" height="50px" width="50px"   accesskey=""     >   
          
    
            
               
          
          
	  </div> <!-- termina welcome-->
        
      <div id="menu_items">
	    <ul id="menu">
          <ul><li><a href="{{path('ingresofichaprod')}}">Nuevo</a></li>
             <li><a href="{{path('admin_homepage')}}">Menú</a></li>
             </ul>
           
  
        </ul>
      </div> <!-- termina menu_tems -->
    </div> <!-- termina menubar-->	
      
      
    </div>


        
        
   
        
        
            <div id="seccion2" > 
              
             <table border="2px" class="tablaproductos"> 
            <tr>
               <td  bgcolor=RGB(0,28,63)>  <font color= "white">ID</font></td>
                <td  bgcolor=RGB(0,28,63)>  <font color= "white">NUTRITIVO</font></td>
                <td bgcolor=RGB(0,28,63) > <font color= "white">VALORX100GR</font></td>
                <td bgcolor=RGB(0,28,63) > <font color= "white">METODO</font></td>
                <td></td>
                <td></td>
            </tr>
         
           
                 {% for producto in productos %}
                <tr>
                <td> {{producto.id}}</td>
                 <td> {{producto.nutritivo}}</td>
                <td> {{producto.valor100gr}}</td>
                <td> {{producto.metodo}}</td>
                    <td><a href="buscar.php"><button>Eliminar</button>   </a> </td>
                    <td><a href="buscar.php"><button>Actualizar</button>   </a> </td>
                 </tr>
                 
                  
        
                 
                 {% endfor %}
               
                
           
            
            
            
              
            
        </table>
        
         </div>
       
       
       
       -
             
            
    </body>
{% endblock %}
