{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{asset('css/styleCopy.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('css/estilo.css')}}" />
 <link rel="stylesheet" type="text/css" href="{{asset('css/estilologin.css')}}" />
{% endblock %}

{% block body %}
<body>
   
  <div id="main">
    

	<div id="menubar">
        
        
        
	  <div id="welcome">
         
	     <img src="{{ asset('images/logo.png')}}" height="80px" width="80px"   accesskey=""     >   
          
     
            
               
          
          
	  </div> <!-- termina welcome-->
        
      <div id="menu_items">
	    <ul id="menu">
           <li ><a href="{{path('prueba_homepage')}}">Inicio</a></li>
          <li><a href="{{path('prueba_second')}}">Tabla de alimentos</a></li>
          <li><a href="{{path('prueba_contactos')}}">Contactos</a></li>
              <li class="current"><a href="{{path('prueba_login')}}">login</a></li>
  
  
        </ul>
      </div> <!-- termina menu_tems -->
    </div> <!-- termina menubar-->	
      
      
    </div>
    
    <div id="registrar">

</div> <!-- fin opcion-->
 
    <div id="envoltura">
        <div id="contenedor">
 
            <div id="cabecera" >
                
                <img src="{{asset('images/fondop.png')}}" height="55px" width="55px"   accesskey=""     >  
            </div>
  {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
            <div id="cuerpo">
                <form id="form-login" action="{{path('login')}}" method="post" autocomplete="off">
                    <!--A saber, el atributo for funciona como el id.-->
                    <!--ejemplo <label for="usuario">Usuario:</label>-->
                    <!--required es nuevo en html5, si el campo está vacío te avisa, pero cuidado, no valida la información-->
                    <p><label >Usuario:</label></p>
                   
                       <p>  <input type="text" id="username" name="_username" value="{{ last_username }}" /></p>
 
                    <p><label>Contraseña:</label></p>
                       <p>  <input type="password" id="password" name="_password" /></p>
 
                    <p id="bot"> <button type="submit">login</button></p>
            
                     <div id="menu_registrologin">
	                   <a href="{{path('registro')}}">Registrarse</a>
                     </div> <!-- termina menu_tems -->
                </form>
            </div><!--fin cuerpo-->
 
            <div id="pie">Sistema de Login Y Registro
    
   
    
    </div>
    
    
    
        </div><!-- fin contenedor -->
    </div><!--fin envoltura-->
    
    </body>
{% endblock %}