
{% block head %}
<head>
        <style> 
     
 
     
        
     * {
        box-sizing: border-box;
        margin: 0 auto; 
    }
        
  div.container {
        width: 80%;
        border: 3px solid black;
        background-color: aqua;
    }

    
    </style>
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{asset('css/styleCopy.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('css/estilo.css')}}" />
{% endblock %}
{% endblock %}
    </head>
{% block body %}
<body>
        
         
 <div id="main">
    

	<div id="menubar">
        
        
        
	  <div id="welcome">
          
          
         
	     <img src="{{ asset('images/logo.png')}}" height="50px" width="50px"   accesskey=""     >   
          
    
            
               
          
          
	  </div> <!-- termina welcome-->
        
      <div id="menu_items">
	    <ul id="menu">
          <ul><li><a href="{{path('ingresofichaprod')}}">Nuevo</a></li>
             <li><a href="{{path('admin_homepage')}}">Menú</a></li>
             </ul>
           
  
        </ul>
      </div> <!-- termina menu_tems -->
    </div> <!-- termina menubar-->	
      
      
    </div>
	
        
        
    
        
        
            <div id="seccion2" > 
              
             <table border="2px" class="tablaproductos"> 
               <thead>
            <tr>
                <th>Id</th>
                <th>Nutritivo</th>
                <th>Valor100gr</th>
                <th>Metodo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ficha_Tecnica in ficha_Tecnicas %}
            <tr>
                <td><a href="{{ path('admin_ficha_show', { 'id': ficha_Tecnica.id }) }}">{{ ficha_Tecnica.id }}</a></td>
                <td>{{ ficha_Tecnica.nutritivo }}</td>
                <td>{{ ficha_Tecnica.valor100gr }}</td>
                <td>{{ ficha_Tecnica.metodo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_ficha_show', { 'id': ficha_Tecnica.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_ficha_edit', { 'id': ficha_Tecnica.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    
               
                
           
            
            
            
              
            
        </table>
        
         </div>
       
       
       
       -
             
            
    </body>
{% endblock %}

