{% extends 'base.html.twig' %}


{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{asset('css/styleCopy.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('css/estilo.css')}}" />
 <link rel="stylesheet" type="text/css" href="{{asset('css/estilologin.css')}}" />
 <link rel="stylesheet" type="text/css" href="{{asset('css/estiloadmin.css')}}" />
 <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
{% endblock %}

{% block body %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}


<body>
    
    
    
    
    
         
    	<div id="menubaradmin">
            
            
    </div>
    
   <h7 class="text-center text-muted">INGRESO DE PRODUCTOS</h7><hr>
   {{form_start(form, { 'enctype':"multipart/form-data"})}}
{# src/Prueba/PruebaBundle/Resources/views/Default/new.html.twig #}
<div id="envoltura">
        <div id="contenedor">
<div class="col-md-6 col-md-offset-3 person">
    <div id="cuerpo">
     <form id="form-login"  autocomplete="off">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    
 
    {{ form_end(form) }}
    
    </form>
    </div>
    </div>
              </div>
    </div>
</body>
{% endblock %}