{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{asset('css/styleCopy.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('css/estilo.css')}}" />
 <link rel="stylesheet" type="text/css" href="{{asset('css/estilologin.css')}}" />
{% endblock %}


{% block body %}


<body>
        
         <div id="main">

	<div id="menubar">
        
        
        
	  <div id="welcome">
         
	
	     <img src="{{ asset('images/logo.png')}}" height="75px" width="75px"   accesskey=""     >   
          
    
            
     
            
               
          
          
	  </div> <!-- termina welcome-->
        
      <div id="menu_items">
	    <ul id="menu">
         <li ><a href="{{path('prueba_homepage')}}">Inicio</a></li>
            
            <li><a href="{{path('prueba_second')}}">Tabla de alimentos</a></li>
          <li class="current"><a href="{{path('prueba_contactos')}}">Contactos</a></li>
             {% if is_granted('ROLE_ADMIN') %}
               <li><a href="{{path('logout')}}">logout</a></li>
               <li><a href="{{path('admin_homepage')}}">administrar</a></li>
            {% elseif is_granted('ROLE_VISITANTE') %}
             <li><a href="{{path('logout')}}">logout</a></li>
            {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
            <li><a href="{{path('prueba_login')}}">login</a></li>
            {% endif %}
  
        </ul>
      </div> <!-- termina menu_tems -->
        
             
     
        
    </div> <!-- termina menubar-->
 <div id="fotodaniela">
         <img src="{{ asset('images/daniela pe単afiel.jpg')}}" height="200px" width="200px"   accesskey=""     >  
     
      <div id="infodaniela">
     <h7>Msc. Daniela Pe単afiel (Facultad Ciencias de la Vida - ESPOL) 
            dpe単afiel@espol.edu.ec      </h7>
          
     </div>
          </div>
             
             <div id="fotocarrera">
         <img src="{{ asset('images/carrera.png')}}" height="200px" width="200px"   accesskey=""     >  
                 
                 <div id="infocarrera">
     <h7>Msc. Diego Carrera (Escuela de Dise単o y Comunicacion Visual- ESPOL) 
            dcarrera@espol.edu.ec      </h7>
          
     </div>
             </div>
             
             
              <div id="fotofreddy">
         <img src="{{ asset('images/freddy.jpg')}}" height="200px" width="200px"   accesskey=""     >  
     
      <div id="infodaniela">
     <h7>Estudiante-Pregrado. Freddy Rada A. (Facultad Ciencias de la Vida - ESPOL) 
            frada@espol.edu.ec      </h7>
          
     </div>
          </div>
             
             
             
             
	  </div>
          
    </body>
{% endblock %}