{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{asset('css/styleCopy.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('css/estilo.css')}}" />
 <link rel="stylesheet" type="text/css" href="{{asset('css/estilologin.css')}}" />
<link rel="stylesheet" type="text/css" href="{{asset('css/estiloadmin.css')}}" />
{% endblock %}


{% block body %}

<body>
  <div id="main">
    

	<div id="menubaradmin">
        
        
        
	  <div id="welcome">
          
          
         
	     <img src="{{ asset('images/logo.png')}}" height="80px" width="80px"   accesskey=""     >   
          
    
            
               
          
          
	  </div> <!-- termina welcome-->
        
      <div id="menu_items">
	    <ul id="menu">
         <li ><a href="{{path('prueba_homepage')}}">Inicio</a></li>
          <li><a href="{{path('prueba_second')}}">Tabla de alimentos</a></li>
          <li><a href="{{path('prueba_contactos')}}">Contactos</a></li>
              {% if is_granted('ROLE_ADMIN') %}
               <li><a href="{{path('logout')}}">logout</a></li>
               <li><a href="{{path('admin_homepage')}}">administrar</a></li>
            {% elseif is_granted('ROLE_VISITANTE') %}
             <li><a href="{{path('logout')}}">logout</a></li>
            {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
            <li><a href="{{path('prueba_login')}}">login</a></li>
            {% endif %}
  
  
        </ul>
      </div> <!-- termina menu_tems -->
    </div> <!-- termina menubar-->	
      
      
    </div>
    
    <div id="menusesion">
        <h6 font color= blue>REGISTRO</h6>
    </div>
    
    
    
     <div id="registrar">

</div> <!-- fin opcion-->
 
    <div id="envoltura">
        <div id="contenedor">
 
            <div id="cabecera" >
                     <img src="{{ asset('images/fondop.png')}}" height="50px" width="50px"   accesskey=""     >     
            </div>
 
            <div id="cuerpo">
                <form id="form-login" action="" method="post" autocomplete="off">
                   {{ form_start(form) }}
                       <p> {{ form_row(form.username) }}</p>
 
                   
                        <p>{{ form_row(form.email) }}  </p>
            
              <div style="background-color: red;display: none !important" ><p  > {{ form_row(form.role) }}</p></div>
                    
 
                   
                          <p>  {{ form_row(form.plainPassword.first) }}</p>
    
      
                          <p > {{ form_row(form.plainPassword.second) }}</p>
 
                   
                       <p>       {{ form_row(form.guardar) }}</p>

  
                      {{ form_end(form) }}
                            </form>
            </div><!--fin cuerpo-->
 
            <div id="pie">Sistema de Registro
    
   
    
    </div>
    
    
    
        </div><!-- fin contenedor -->
    </div><!--fin envoltura-->
    

  
    
    
    </body>
{% endblock %}